/* 공통사항 */

/* 여백제거 */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* li 장식제거 */
li{
    list-style: none;
}
/* a 밑줄제거, 글자색 */
a{
    text-decoration:none;
    color:#000000;
}
/* img,video 위아래정렬 max-width */
img,video{
    vertical-align: middle;
    max-width: 100%;
}
/* address,i,em 기울기 */
address,i,em{
    font-style: normal;
}
/* .blind */
.blind{
    position:absolute;
    top:-99999px;
}
/* body */
body{
    font-family:"Pretendard",sans-serif;
    font-size:16px;
    color:#000;
    line-height: 1.3;
    letter-spacing: -0.4px;
    font-weight: 400;
}