/* Google Web Fonts CDN */
@import url("https://fonts.googleapis.com/css?family=Inter:300,400,500,700,900&display=swap");

/* FontAwesome CDN 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
}

.container > section {
  /* padding-top: 80px; */
}

.inner {
  max-width: 1660px;
  padding: 0 20px;
  margin: 0 auto;
  /* background-color: rgba(255, 0, 0, 0.3); */
  position: relative;
}

.main-slide {
  position: relative;
}

.main-slide > .text-box {
  position: absolute;
  top: 40%;
  left: 15%;
}

.swiper {
  width: 40%;
  height: 50%;
  padding-top: 30px;
  margin-left: 40%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*display 영역*/
.display-wrap {
}

.display-list {
  background: url(../images/con4_bg.jpg);
  background-size: cover;
}

.display {
  width: 60%;
  height: 60%;
  margin-left: 350px;
}

.display-list > .title strong {
  font-size: 2em;
  color: #fff;
  font-weight: 500;
  padding: 20px;
}

.display-list > .title {
  padding: 40px 0 0 100px;
  font-size: 1.75em;
  color: #555;
}

.display-list > p {
  padding: 10px 0 0 120px;
  font-size: 1.25em;
  color: #555;
  font-weight: 500;
}

.swiper-wrapper {
  position: relative;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.swiper-slide p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 1em;
  color: #fff;
  background-color: rgba(226, 226, 226, 0.1);
  padding: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}

@media (max-width: 760px) {
  .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
  }

  .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
  }
}

.banner_img {
  display: inline-block;
  position: relative;
  border-radius: 100%;
}

.banner_img:hover:after,
.banner_img:hover > .hover_text {
  display: block;
}

.banner_img:after,
.hover_text {
  display: none;
}

.banner_img:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background: rgba(0, 0, 0, 0.3); */
  z-index: 10;
}

.banner_img {
  overflow: hidden;
}

.banner_img img {
  /* height: 160px; */
}

.banner_img:hover img {
  transform: scale(1.2);
  transition: 0.5s;
}

.hover_text {
  position: absolute;
  top: 80px;
  left: 30px;
  color: #fff;
  z-index: 20;
  font-weight: 600;
  font-size: 1em;
  /* background: rgba(85, 85, 85, 0.5); */
}

.display-list > .title {
  padding: 0;
}
.display-list > p {
  padding-left: 15px;
}

.display-text {
  display: flex;
  gap: 80px;
  padding: 100px 0 0 24%;
}

.display-text > li .text-box h3 {
  color: #fff;
  padding: 10px 0 0 20px;
  font-weight: 300;
  font-size: 1.25em;
}

.display-text > li .text-box p {
  margin: 20px 0 0 28px;
}

.display-text > li .text-box p a {
  color: #fff;
  padding: 8px;
  font-weight: 300;
  border: 1px solid #fff;
  text-align: center;
}

/*newsletter 영역*/
.newsletter {
  background: url(../images/con3_bg.jpg);
  background-size: cover;
  height: 900px;
}

.newsletter > .title {
  padding: 40px 0 0 100px;
  font-size: 1.75em;
  color: #fff;
}

.newsletter > p {
  padding: 10px 0 0 100px;
  font-size: 1em;
  color: #333;
  font-weight: 500;
}

.newsletter-list {
  display: flex;
  gap: 80px;
  justify-content: center;
  padding-top: 30px;
}

.newsletter-list h3 {
  padding: 8px;
  color: #fff;
  font-size: 1.5em;
}

.newsletter-list > li .text-box {
  border: 1px solid #fff;
  height: 280px;
  width: 300px;
}

.newsletter-list > li p {
  margin: 10px 0 0 20px;
  color: #fff;
  font-size: 1em;
}

.newsletter-list > li > .text-box .img-box {
  margin: 35px 0 0 70%;
}

.newsletter-list > li .img-box1 {
  margin: 108px 0 0 40%;
}

.newsletter-list > li > .text-box2 {
}

.newsletter-list > li > .text-box > .img-box2 img {
  margin: -10px 0 0 -10px;
}

/*tidings 영역*/
.tidings {
  /* background: red; */
  display: flex;
  padding-top: 80px;
}

.tidings-list {
  margin: 0 auto;
}

.tidings-list h2 {
  color: #fff;
  font-size: 1.5em;
}

.tidings-list1 h2 {
  color: #fff;
  font-size: 1.5em;
}

.tidings-list > li {
  padding-top: 20px;
}

.tidings-list > li p a {
  line-height: 1.5;
  color: #fff;
  font-size: 1em;
  font-weight: 300;
}

.tidings-list1 {
  /* padding: 15px 0 0 160px;  */
  margin: 0 auto;
  padding-top: 20px;
}

.tidings-list1 li {
  display: flex;
}

.tidings-list1 li p {
  padding: 15px;
}

#top-btn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 901;
  background: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 0;
}

#top-btn span {
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 45px;
  right: 28px;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
}

@media screen and (max-width: 797px) {
  #top-btn {
    right: 0;
  }
}

/* ipad */
@media screen and (max-width: 1279px) {
  body {
    font-size: 14px;
    overflow-x: hidden;
  }

  /* 1.제거하기 */
  .hot-wrap,
  .gnb,
  video,
  .pager,
  .arrow {
    display: none;
  }

  /* 2. 보이기 */

  /* 3. 100%만들기 */

  header > .inner {
    align-items: center;
    padding: 0px 16px;
  }

  .logo {
    line-height: 70px;
  }

  .swiper {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }

  .display-list > .display > .swiper-wrapper {
    height: 40%;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .newsletter-list > li > .text-box2 .img-box2 img {
    width: 100%;
  }

  .display-text {
    padding: 0;
  }

  .banner_img img {
  }

  .newsletter-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 30px;
  }

  .newsletter > .title {
    padding: 40px 0 0 10px;
  }

  .newsletter > p {
    padding: 10px 0 0 10px;
  }

  .newsletter-list > li .text-box {
    border: 1px solid #fff;
    height: 280px;
    width: 240px;
  }

  .newsletter-list > li > .text-box .img-box {
    margin: 70px 0 0 70%;
  }

  .newsletter-list > li .img-box1 {
    margin: 135px 0 0 40%;
  }

  .newsletter-list > li > .text-box > .img-box2 img {
    margin: 20px 0 0 -10px;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .ham-btn,
  .close-btn {
    display: block;
  }

  .nav-wrap {
    position: fixed;
    width: 70%;
    height: 100vh;
    background: white;
    left: -100;
    top: 0;
  }

  .nav {
    display: block;
  }

  .sub {
    /* display: block; */
    position: static;
    height: auto;
  }

  .close-btn {
    width: 32px;
    margin: 30px;
  }

  /* footer */
  .foot-top {
    font-size: 12px;
    white-space: nowrap;
  }

  .footer-bottom {
    padding: 0px;
  }

  .foot-text p {
    display: none;
  }

  .foot-text > .foot-text1 {
    display: block;
  }

  .foot-right > .sitemap {
    display: none;
  }

  .app > .gnb > li {
    display: none;
  }

  .app > .gnb1 > li {
    display: none;
  }

  .app > p {
    padding: 0;
  }
}
